@import './common';

@panel-prefix: ~"@{cp-prefix}-panel";
@panel-board-prefix: ~"@{panel-prefix}-board";
@panel-bar-prefix: ~"@{panel-prefix}-bar";
@panel-operation-bar-prefix: ~"@{panel-prefix}-operation-bar";
@panel-preview-prefix: ~"@{panel-prefix}-preview";
@panel-params: ~"@{panel-prefix}-params";

@panel-pointer-color: #fff;


.@{panel-board-prefix} {
  position: relative;
  cursor: crosshair;

  .panel-prefix-child-position() {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .@{panel-board-prefix}-saturation-layer {
    .panel-prefix-child-position();

    z-index: 1;
    background: linear-gradient(to right, white, transparent);
  }

  .@{panel-board-prefix}-brightness-layer {
    .panel-prefix-child-position();

    z-index: 2;
    background: linear-gradient(to top, black, transparent);
  }

  .@{panel-board-prefix}-pointer {
    position: absolute;

    z-index: 3;
    background: transparent;
    border: 1px solid @panel-pointer-color;
    border-radius: 50%;
  }
}

.@{panel-bar-prefix} {
  position: relative;
  margin-top: 6px;

  .@{panel-bar-prefix}-editor {
    margin-right: 2%;
    width: 80%;
  }
  .@{panel-bar-prefix}-preview {
    // set height equal to parent
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 18%;
  }
}

.@{panel-operation-bar-prefix} {
  position: relative;

  .@{panel-operation-bar-prefix}-mover {
    position: absolute;
    top: 0;
    bottom: 0;
    background: @panel-pointer-color;
    border-radius: 5px;
    border: 1px solid black;
    cursor: col-resize;
  }
}

.@{panel-preview-prefix} {
  position: relative;
  height: 100%;


  >div {
    background: red;
    height: 100%;
  }

  >input[type=color] {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
  }
}

.input-width(@lgWidth, @smTotal) {
  .input-text {
    width: @lgWidth;
  }

  .input-number {
    width: (100% - @lgWidth) / @smTotal - 2%;
    margin-left: 2%;
  }
}

.@{panel-params} {
  .@{panel-params}-input {
    input {
      box-sizing: border-box;
      display: inline-block;
      padding: 0;
      text-align: center;
      -webkit-appearance: textfield;
    }

    .input-width(30%, 4);

    &.@{panel-params}-input-no-alpha {
      .input-width(30%, 3);
    }
  }
}


